[Unit]
Description=v2-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/v2-ui/v2-ui

[Install]
WantedBy=multi-user.target