{% extends 'v2ray/base.html' %}
{% block title %}账号列表{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .ant-card + .ant-card {
            margin-top: 20px;
        }

        .ant-card:last-of-type {
            margin-bottom: 20px;
        }

        div[class^=ant-col] + div[class^=ant-col] {
            margin-top: 10px;
        }
    </style>
{% endblock %}
{% block body %}

    <a-layout id="app" v-cloak>
        {% include 'v2ray/common_sider.html' %}
        <a-layout id="content-layout">
            <a-layout-content>
                <a-spin :spinning="spinning" :delay="500" tip="加载中">
                    <transition name="list" appear>
                        <a-card hoverable style="margin-bottom: 20px;">
                            <div slot="title">
                                <a-button type="primary" icon="plus" @click="openAddInbound"></a-button>
                            </div>
                            <a-row>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    上传/下载：
                                    <a-tag color="green">[[ sizeFormat(total.up) ]] / [[ sizeFormat(total.down) ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    总用量：
                                    <a-popconfirm title="确定要重置所有流量为 0 吗？不可恢复"
                                                  @confirm="resetAllTraffic()"
                                                  ok-text="确定" cancel-text="取消">
                                        <a-tag color="green">[[ sizeFormat(total.up + total.down) ]]</a-tag>
                                    </a-popconfirm>
                                </a-col>
                            </a-row>
                        </a-card>
                    </transition>
                    <a-card v-if="inbounds.length === 0">
                        无账号，请先添加账号
                    </a-card>
                    <transition-group tag="div" name="list">
                        <a-card v-for="inbound in inbounds" :key="inbound.id" hoverable>
                            <div slot="title">
                                <a-button v-if="[Protocols.VMESS, Protocols.SHADOWSOCKS].indexOf(inbound.protocol) >= 0"
                                          type="primary" icon="qrcode"
                                          @click="qrModal.show(
                                                    '二维码',
                                                    inbound.genLink(inbound.listen === '0.0.0.0' ? ip : inbound.listen),
                                                    '复制链接')"></a-button>
                                <a-button icon="edit" @click="openEditInbound(inbound)"></a-button>
                                <a-button style="float: right;" type="danger" icon="delete" @click="delInbound(inbound)"></a-button>
                            </div>
                            <div>
                                <a-row>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        备注：
                                        <a-tag color="blue">[[ empDefault(inbound.remark, '无') ]]</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        启用：
                                        <a-popconfirm :title="inbound.enable ? '是否禁用' : '是否启用'"
                                                      @confirm="setEnable(inbound, !inbound.enable)"
                                                      ok-text="是" cancel-text="否">
                                            <a-tag v-if="inbound.enable" color="green">是</a-tag>
                                            <a-tag v-else color="red">否</a-tag>
                                        </a-popconfirm>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        上传/下载：
                                        <a-tag color="green">[[ sizeFormat(inbound.up) ]] / [[ sizeFormat(inbound.down) ]]</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        总用量：
                                        <a-popconfirm title="确定要重置流量为 0 吗？不可恢复"
                                                      @confirm="resetTraffic(inbound)"
                                                      ok-text="确定" cancel-text="取消">
                                            <a-tag color="green">[[ sizeFormat(inbound.up + inbound.down) ]]</a-tag>
                                        </a-popconfirm>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        IP：
                                        <a-tag color="green">[[ inbound.listen === '0.0.0.0' ? ip : inbound.listen ]]</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        端口：
                                        <a-tag color="green">[[ inbound.port ]]</a-tag>
                                    </a-col>
                                    <!-- vmess -->
                                    <template v-if="inbound.protocol === Protocols.VMESS">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            id：
                                            <a-tag color="green">[[ inbound.settings.vmesses[0].id ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            额外id：
                                            <a-tag color="green">[[ inbound.settings.vmesses[0].alterId ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            加密：
                                            <a-tag color="green">auto</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            传输配置：
                                            <a-tag color="green">[[ inbound.stream.network ]]</a-tag>
                                        </a-col>
                                        <!-- vmess tcp -->
                                        <template v-if="inbound.stream.network === 'tcp'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                伪装：
                                                <a-tag color="green">[[ inbound.stream.tcp.type ]]</a-tag>
                                            </a-col>
                                            <template v-if="inbound.stream.tcp.type === 'http'">
                                                <a-col :xs="24" :sm="24" :lg="12">
                                                    路径：
                                                    <a-tag color="green">[[ inbound.stream.tcp.request.path[0] ]]</a-tag>
                                                </a-col>
                                            </template>
                                        </template>
                                        <!-- vmess kcp -->
                                        <template v-if="inbound.stream.network === 'kcp'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                伪装：
                                                <a-tag color="green">[[ inbound.stream.kcp.type ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <!-- vmess ws -->
                                        <template v-if="inbound.stream.network === 'ws'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                路径：
                                                <a-tag color="green">[[ inbound.stream.ws.path ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <!-- vmess http -->
                                        <template v-if="inbound.stream.network === 'http'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                路径：
                                                <a-tag color="green">[[ inbound.stream.http.path ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                Host：
                                                <a-tag color="green">[[ empDefault(inbound.stream.http.host[0], '无') ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <!-- vmess quic -->
                                        <template v-if="inbound.stream.network === 'quic'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                QUIC 加密：
                                                <a-tag color="green">[[ inbound.stream.quic.security ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                密码：
                                                <a-tag color="green">[[ empDefault(inbound.stream.quic.key, '无') ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                伪装：
                                                <a-tag color="green">[[ inbound.stream.quic.type ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <!-- tls enable -->
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            tls：
                                            <a-tag v-if="inbound.stream.security == 'tls'" color="green">开启</a-tag>
                                            <a-tag color="orange">关闭</a-tag>
                                        </a-col>
                                        <!-- tls -->
                                        <template v-if="inbound.stream.security == 'tls'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                域名：
                                                <a-tag color="green">[[ empDefault(inbound.stream.tls.server, '无') ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                允许不安全：
                                                <a-tag v-if="inbound.stream.tls.allowInsecure" color="green">是</a-tag>
                                                <a-tag v-else color="orange">否</a-tag>
                                            </a-col>
                                        </template>
                                    </template>
                                    <!-- shadowsocks -->
                                    <template v-if="inbound.protocol === Protocols.SHADOWSOCKS">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            加密：
                                            <a-tag color="green">[[ inbound.settings.method ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            密码：
                                            <a-tag color="green">[[ inbound.settings.password ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            网络：
                                            <a-tag color="green">[[ inbound.settings.network ]]</a-tag>
                                        </a-col>
                                    </template>
                                    <!-- dokodemo-door -->
                                    <template v-if="inbound.protocol === Protocols.DOKODEMO">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            转发地址：
                                            <a-tag color="green">[[ inbound.settings.address ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            转发端口：
                                            <a-tag color="green">[[ inbound.settings.port ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            网络：
                                            <a-tag color="green">[[ inbound.settings.network ]]</a-tag>
                                        </a-col>
                                    </template>
                                    <!-- socks -->
                                    <template v-if="inbound.protocol === Protocols.SOCKS">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            密码认证：
                                            <a-tag v-if="inbound.settings.auth === 'password'" color="green">是</a-tag>
                                            <a-tag v-else color="orange">否</a-tag>
                                        </a-col>
                                        <template v-if="inbound.settings.auth === 'password'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                用户名：
                                                <a-tag color="green">[[ inbound.settings.accounts[0].user ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                密码：
                                                <a-tag color="green">[[ inbound.settings.accounts[0].pass ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            udp：
                                            <a-tag v-if="inbound.settings.udp" color="green">开启</a-tag>
                                            <a-tag v-else color="orange">未开启</a-tag>
                                        </a-col>
                                    </template>
                                    <!-- http -->
                                    <template v-if="inbound.protocol === Protocols.HTTP">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            用户名：
                                            <a-tag color="green">[[ inbound.settings.accounts[0].user ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            密码：
                                            <a-tag color="green">[[ inbound.settings.accounts[0].pass ]]</a-tag>
                                        </a-col>
                                    </template>
                                </a-row>
                            </div>
                        </a-card>
                    </transition-group>
                </a-spin>
            </a-layout-content>
        </a-layout>
    </a-layout>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                ip: location.hostname,
                spinning: false,
                inbounds: [],
            },
            methods: {
                loading(spinning=true) {
                    this.spinning = spinning;
                },
                empDefault(o, defaultValue='') {return isEmpty(o) ? defaultValue : o},
                getInbounds() {
                    this.loading();
                    get({
                        url: '/v2ray/inbounds',
                        success: data => {
                            this.setInbounds(data);
                            this.loading(false);
                        },
                        error: () => this.loading(false)
                    });
                },
                setInbounds(inbounds) {
                    this.inbounds = inbounds.map(inbound => {
                        inbound.streamSettings = inbound.stream_settings;
                        let inb = Inbound.fromJson(inbound);
                        inb.id = inbound.id;
                        inb.up = inbound.up;
                        inb.down = inbound.down;
                        return inb;
                    }).reverse();
                },
                openAddInbound() {
                    inModal.show({
                        title: '添加账号',
                        okText: '添加',
                        confirm: () => {
                            inModal.loading();
                            this.addInbound(inModal.inbound, () => inModal.closeLoading());
                        }
                    });
                },
                openEditInbound(inbound) {
                    inModal.show({
                        title: '修改账号',
                        okText: '修改',
                        inbound: inbound,
                        confirm: () => {
                            inModal.loading();
                            inModal.inbound.id = inbound.id;
                            this.updateInbound(inModal.inbound, () => inModal.closeLoading());
                        }
                    });
                },
                addInbound(inbound, callback) {
                    let data = {
                        port: inbound.port,
                        listen: inbound.listen,
                        protocol: inbound.protocol,
                        settings: inbound.settings.toString(false),
                        stream_settings: inbound.stream.toString(false),
                        sniffing: [Protocols.VMESS, Protocols.SHADOWSOCKS].indexOf(inbound.protocol) >= 0 ?
                            inbound.sniffing.toString(false) : '{}',
                        remark: inbound.remark,
                    };
                    this.submit('/v2ray/inbound/add', data, inModal, callback, callback);
                },
                updateInbound(inbound, callback) {
                    let data = {
                        port: inbound.port,
                        listen: inbound.listen,
                        protocol: inbound.protocol,
                        settings: inbound.settings.toString(false),
                        stream_settings: inbound.stream.toString(false),
                        sniffing: [Protocols.VMESS, Protocols.SHADOWSOCKS].indexOf(inbound.protocol) >= 0 ?
                            inbound.sniffing.toString(false) : '{}',
                        remark: inbound.remark,
                        enable: inbound.enable,
                    };
                    this.submit('/v2ray/inbound/update/' + inbound.id, data, inModal, callback, callback);
                },
                delInbound(inbound) {
                    this.$confirm({
                        title: '删除账号',
                        content: '删除后不可恢复，确认删除吗',
                        okText: '删除',
                        cancelText: '取消',
                        onOk: () => this.submit('/v2ray/inbound/del/' + inbound.id)
                    });
                },
                resetTraffic(inbound) {
                    this.submit('/v2ray/reset_traffic/' + inbound.id);
                },
                resetAllTraffic() {
                    this.submit('/v2ray/reset_all_traffic');
                },
                setEnable(inbound, enable) {
                    let data = {enable: enable};
                    this.submit('/v2ray/inbound/update/' + inbound.id, data);
                },
                submit(url, data, modal, success, error) {
                    post({
                        url: url,
                        data: data,
                        success: data => {
                            if (data.success) {
                                this.getInbounds();
                                if (modal) {
                                    modal.close();
                                }
                            }
                            execute(success, data);
                        },
                        error: error,
                    });
                },
            },
            mounted() {
                this.setInbounds({{ inbounds | safe }});
            },
            computed: {
                total() {
                    let down = 0, up = 0;
                    for (let i = 0; i < this.inbounds.length; ++i) {
                        down += this.inbounds[i].down;
                        up += this.inbounds[i].up;
                    }
                    return {
                        down: down,
                        up: up,
                    };
                }
            },
        });

    </script>
    {% include 'v2ray/inbound_modal.html' %}
    {% include 'common/text_modal.html' %}
    {% include 'common/qrcode_modal.html' %}
    {% include 'common/prompt_modal.html' %}
{% endblock %}