{% extends 'common/base.html' %}
{% block title %}{{ _('clients') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

    <a-layout id="app" v-cloak>
        {% include 'v2ray/common_sider.html' %}
        <a-layout id="content-layout">
            <a-layout-content>
                <a-card>
                </a-card>
            </a-layout-content>
        </a-layout>
    </a-layout>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
            },
            methods: {
            },
        });

    </script>
{% endblock %}